.body1{
   margin: 0px;
   padding: 0px;
   background-size: contain;
   background-image:url(cercle-bleu-abstrait-technologie-fond-noir_1142-9770.avif) ;  
}



.main1{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
 
    
}

.blocSectionMain1{
    display: flex;
    height: 100vh;
    justify-content: flex-start;
    padding-left: 10%;

}

.blocIntroMain1{
    width: calc(100% / 3);
    margin-top: 15%;
    text-align: left;
    color: white;
    font-family: d;
    
    
}
.blocIntroMain1 h1{
    font-size: 65px;
}
.navMain1{
    padding-top: 80px;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.navMain1 a{
    display: inline;
    font-family: 'Noto Sans JP', sans-serif;
    text-decoration: none;
    color : white;
    margin-right: 20px;
    border-radius: 30px;
    text-align: center;
    transition-duration: 0.4s;
}

a:hover{
    cursor: pointer;
    background-color:   rgb(12, 134, 209)
}

.sectionScolaritéMain1{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: gray;
    justify-content: center;
    
}

.fusionMain1{
    width: 100%;
    display: flex;
}

.blocScolaritéMain1{
    margin:5px 15%;
    width: 50%;
}

.bloc2ScolaritéMain1{
    padding-left: 15%;
    width: 70%;
}



.sectionFuturMain1{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    
}

.futurMain1{
    color: white;
    width: calc(100% / 3);
    align-items: center;
    padding-left: 10%;
    
}

footer{
    width: 100%;
    height: 60vh;
    display: flex;
    background-color: gray;
    
}

.foot{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}



p{
    font-size: 20px;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 5px;
}

h1{
    color: white;
    font-size: 40px;
    font-family: 'Noto Sans JP', sans-serif;
}












.main2{
    display: flex;
    flex-direction: column;  
    width: 90%;
    margin: auto;
    border: solid black 2px;
}

.h1Main2{
    text-align: center;    

}

.navMain2{
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.gallerieBadMain2{
    position: relative;
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.blocMain2{
    flex-basis: calc(100% / 4 );
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.blocMain2 p{
    display: none;
    width : 0%;
    background-color: rgb(0, 0, 0);
    margin : 0px;
    color: white;
}


.blocMain2:hover{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    width: 100%;
}

.blocMain2:hover p{
    flex-direction: row;
    flex-basis: 50%;
    display : inline-block;
    padding: 0px;
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.blocMain2:hover img{
    flex-basis : 50%;
}

.explicationMain2{
    display: flex;
    margin: 10% 5%;
}

.explicationMain2 p{
width: 70%;
padding: 20px;
}






    


.test{
  width: 100%;
  display: flex;
  color: white;
  background-color: black;
  text-align: center;
  padding: 14px 16px;
}

.test a{
    padding: 10px 15px;
}

.cover-vidéo{
    display: none;
    position: absolute;
    min-width: 160px;
}

.bloc:hover .cover-vidéo{
    display: block;
}









