.body1{
   margin: 0px;
   padding: 0px;
}

.main1{
    display: inline-flex;
    flex-direction: column;
    width: 70%;
    padding: 5% 15%;
    background-size: cover;
    background-image:url(pexels-felix-mittermeier-956999.jpg) ;
    background-size: cover;  
}

.blocSectionMain1{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;

}

.blocIntroMain1{
    width: calc(100% / 3);
    margin-top: 20%;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}

.blocSection2Main1{
    height: 100%;
    width: 100%;
    display: inline-flex;
}

.lienMain1{
    display: inline-block;
    width: 50%;
    text-align: center;
    margin: 5%;
    padding: 5px;
    border-radius: 100px;
    border: solid white 1px;
    font-family: "Clarkson",Helvetica,sans-serif;
    text-decoration: none;
    color : white;
    transition-duration: 0.4s;
}
.lienMain1:hover{
    cursor: pointer;
    background-color:   rgb(144, 12, 209);
}

.footerMain1{
display: flex;
justify-content: flex-end;
color: white;

}


.main2{
    display: flex;
    flex-direction: column;
}

.h1Main2{
    text-align: center;    

}

.navMain2{
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.gallerieBadMain2{
    position: relative;
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.blocMain2{
    flex-basis: calc(100% / 4 );
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.blocMain2 p{
    display: none;
    width : 0%;
    background-color: rgb(0, 0, 0);
    margin : 0px;
    color: white;
}


.blocMain2:hover{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    width: 100%;
}

.blocMain2:hover p{
    flex-direction: row;
    flex-basis: 50%;
    display : inline-block;
    padding: 0px;
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.blocMain2:hover img{
    flex-basis : 50%;
}

.explicationMain2{
    display: flex;
    margin: 10% 5%;
}

.explicationMain2 p{
width: 70%;
padding: 20px;
}
